.header {
    border-bottom: 2px solid rgba(248, 250, 252, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;

    img {
        height: 60px;
    }

    .right {
        margin-left: auto;
    }
}

.button:hover {
    cursor: pointer;
    background-color: rgba(18, 170, 18, 0.6);
}