.header {
    border-bottom: 2px solid rgba(248, 250, 252, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;

    img {
        height: 60px;
    }

    .right {
        margin-left: auto;
    }
}

.button {
    height: min-content;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all .1s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: rgb(18, 170, 18);

    .icon {
        font-size: 20px;
    }
}

.button:hover {
    cursor: pointer;
    background-color: rgba(18, 170, 18, 0.6);
}