@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("side-bar.css");
@import url("header.css");
@import url("footer.css");

.hidden {
    opacity: 0;
}

html {
    user-select: none;
    color: rgba(248, 250, 252, 1);
    background-color: rgb(15, 23, 42, 0.2);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif,
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    transition: opacity 0.5s;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.content {
    display: flex;
    flex-grow: 1;
}

.main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.computer-info {
    text-align: right;
    border-spacing: 20px;
}

.computer-info tr td:last-child {
    text-align: left;
    user-select: text;
}